VM_USERNAME=dba
VM_PASSWORD=dba2025
VM_TABLE_NAME=visits
VM_HOSTNAME=35.222.61.81
VM_PORT=3306
VM_DATABASE=dummydb
VM_TEST_QUERY="SELECT COUNT(*) AS n_rows FROM visits;"

MAN_USERNAME=dba
MAN_PASSWORD=dba2025
MAN_TABLE_NAME=visits
MAN_HOSTNAME=35.222.61.81
MAN_PORT=3306
MAN_DATABASE=dummydb