VM_USERNAME=
VM_PASSWORD=
VM_TABLE_NAME=
VM_HOSTNAME=
VM_PORT=3306
VM_DATABASE=dummydb
VM_TEST_QUERY="SELECT COUNT(*) AS n_rows FROM visits;"

MAN_USERNAME=
MAN_PASSWORD=
MAN_TABLE_NAME=visits
MAN_HOSTNAME=
MAN_PORT=3306
MAN_DATABASE=dummydb
MAN_TEST_QUERY="SELECT COUNT(*) AS n_rows FROM visits;"